@model int[]

@foreach (var i in Model)
{
    @i
}
<br/>
@foreach (var i in Model)
{
    var str = " ";
    @i@str
    }
<br/>
<ul>
    @foreach (var i in Model)
    {
        <li>@i</li>
    }
</ul>
